body{
    background-color: rgb(177, 189, 194);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vh; 
    display: flex;

}

.todillo{
    margin: 50px;
    min-height: 1200px;
    width: 100%;
    width: 1000px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}       

.arriba{
    position: relative;
    top: -530px;
    left: 500px;
    min-width: 1000px;
    min-height: 270px;
    display: flex;
    background-color: #76bbcc;
}

.fotoperfil{
    display: flex;
    align-items: flex-start;
    margin: 27px;
    height: 220px;
    width: 220px;
    border: 16px;
    border-radius: 50%;
}

.arriba h1{
    display: flex;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 260px;
    top: 24px;
    font-size: 38px;
    font-family: monospace;
    font-weight: bold;

    
}

.arriba h3{
    display: flex;
    color: white;
    position: absolute;
    left: 260px;
    top: 145px;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;

}

.arriba p {
    display: flex;
    color: white;
    position: absolute;
    left: 260px;
    top: 165px;
    font-size: 18px;
    font-family: monospace; 

}

.abajo {
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    min-width: 1000px;
    min-height: 800px;
    right: 500px;
    top: 100px;
}

.abajo .contacto {
    display: flex;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 24px;
    left: 60px;
    font-size: 18px;
    font-family: monospace; 
    border-left: 5px solid #76bbcc;
    line-height: 1em;
    padding-left: 10px;
    letter-spacing: 0.1em;
}

.abajo ul{
    position: absolute;
    top: 59px;
    list-style: none;
    margin: 10px
}

.abajo li {
    list-style: none;
    margin:15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
}

.abajo ion-icon{
    font-size: 1.3em;
    margin-right: 10px;
    color: #76bbcc;
}

.abajo .academica{
    display: flex;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 254px;
    left: 60px;
    font-size: 18px;
    font-family: monospace; 
    border-left: 5px solid #76bbcc;
    line-height: 1em;
    padding-left: 10px;
    letter-spacing: 0.1em;
}

.abajo .datosac{
    min-width: 200px;
    max-height: 400px;
    position: relative;
    left: 59px;
    top: 290px;
}

.datosac .educacion ul{
    display: flex;
    flex-direction: column;
    position: relative;
}

.datosac .lieducacion {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 58px;
    bottom: 88px;
    min-width: 180px;
    cursor: unset;
    
}
.abajo h5{
    color: #76bbcc;
}

.abajo h4{
    color: black;
    font-weight: 500;
    margin: -19px 0;
}

.abajo h6{
    font-size: 1em;
    margin: 24px 0;
}

.abajo .objetivo{
    position: relative;
    height: 1000px;
    width: 590px;
    left: 210px;
    background-color: rgb(255, 255, 255);
}

.objetivotexto{
    display: flex;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 24px;
    left: 60px;
    font-size: 18px;
    font-family: monospace; 
    border-left: 5px solid #76bbcc;
    line-height: 1em;
    padding-left: 10px;
    letter-spacing: 0.1em;
}

.objetivo p {
    color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    margin-right: 100px;
    top: 48px;
    left: 69px;
    font-size: 20px;
}