body{
    background-color: rgb(177, 189, 194);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vh; 
    display: flex;

}

.todillo{
    margin: 50px;
    min-height: 1200px;
    width: 100%;
    width: 1000px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}       

.arriba{
    position: relative;
    top: -530px;
    left: 500px;
    min-width: 1000px;
    min-height: 270px;
    display: flex;
    background-color: #76bbcc;
}

.fotoperfil{
    display: flex;
    align-items: flex-start;
    margin: 27px;
    height: 220px;
    width: 220px;
    border: 16px;
    border-radius: 50%;
}

.arriba h1{
    display: flex;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 260px;
    top: 24px;
    font-size: 38px;
    font-family: monospace;
    font-weight: bold;

    
}

.arriba h3{
    display: flex;
    color: white;
    position: absolute;
    left: 260px;
    top: 145px;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;

}

.arriba p {
    display: flex;
    color: white;
    position: absolute;
    left: 260px;
    top: 165px;
    font-size: 18px;
    font-family: monospace; 

}

.abajo {
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    min-width: 1000px;
    min-height: 800px;
    right: 500px;
    top: 100px;
}

.abajo .contacto {
    display: flex;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 24px;
    left: 60px;
    font-size: 18px;
    font-family: monospace; 
    border-left: 5px solid #76bbcc;
    line-height: 1em;
    padding-left: 10px;
    letter-spacing: 0.1em;
}

.abajo ul{
    position: absolute;
    top: 59px;
    list-style: none;
    margin: 10px
}

.abajo li {
    list-style: none;
    margin:15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
}

.abajo ion-icon{
    font-size: 1.3em;
    margin-right: 10px;
    color: #76bbcc;
}

.abajo .academica{
    display: flex;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 254px;
    left: 60px;
    font-size: 18px;
    font-family: monospace; 
    border-left: 5px solid #76bbcc;
    line-height: 1em;
    padding-left: 10px;
    letter-spacing: 0.1em;
}

.abajo .datosac{
    min-width: 200px;
    max-height: 400px;
    position: relative;
    left: 59px;
    top: 290px;
}

.datosac .educacion ul{
    display: flex;
    flex-direction: column;
    position: relative;
}

.datosac .lieducacion {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 58px;
    bottom: 88px;
    min-width: 180px;
    cursor: unset;
    
}
.abajo h5{
    color: #76bbcc;
}

.abajo h4{
    color: black;
    font-weight: 500;
    margin: -19px 0;
}

.abajo h6{
    font-size: 1em;
    margin: 24px 0;
}

.abajo .objetivo{
    position: relative;
    height: 1000px;
    width: 590px;
    left: 210px;
    background-color: rgb(255, 255, 255);
}

.objetivotexto{
    display: flex;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 24px;
    left: 60px;
    font-size: 18px;
    font-family: monospace; 
    border-left: 5px solid #76bbcc;
    line-height: 1em;
    padding-left: 10px;
    letter-spacing: 0.1em;
}

.objetivo p {
    color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    margin-right: 100px;
    top: 48px;
    left: 69px;
    font-size: 20px;
}

.Lenguaje{
    min-width: 200px;
    max-height: 200px;
    position: relative;
    left: -724px;
    top: 730px;
    background-color:rgb(255, 255, 255); 
}

.Lenguaje .lenguajetitu{
    display: flex;
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 18px;
    font-family: monospace; 
    border-left: 5px solid #76bbcc;
    line-height: 1em;
    padding-left: 10px;
    letter-spacing: 0.1em;

}

.Lenguaje li{
    flex-direction: column;
    cursor: unset;
}

.Lenguaje li span{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    left: -47px;
    top: -24px;
}

.Lenguaje .percent{
    position: relative;
    width: 250px;
    background: #9e9b9b;
    height: 6px;
    margin-top: 15px;
    margin-bottom: 10px ;
    display: block;
    overflow: hidden;

}

.Lenguaje .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #76bbcc;
}

.Lenguaje .textolang{
    font-size: 18px;
    font-family: monospace; 

}

.apitudes{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 400px;
    top: 250px;
    right: 75px;
}

.apitudes .apitudestexto{
    display: flex;
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 18px;
    font-family: monospace; 
    border-left: 5px solid #76bbcc;
    line-height: 1em;
    padding-left: 10px;
    letter-spacing: 0.1em;
}
 .apitudes p{
    color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    margin-right: 10px;
    top: 30px;
    font-size: 20px;
    margin-left: 6px;
 }

 .skills{
    position: absolute;
    width: 450px;
    height: 300px;
    top: 550px;
    right: 75px;
 }
 .skills .habilidad{
    display: flex;
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 18px;
    font-family: monospace; 
    border-left: 5px solid #76bbcc;
    line-height: 1em;
    padding-left: 10px;
    letter-spacing: 0.1em;
 }
 .skills .textoskill{
    font-size: 24px;
    font-family: monospace; 
}

.skills li{
    flex-direction: column;
    cursor: unset;
}

.skills li span{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    left: -47px;
    top: -24px;
}

.skills .percent{
    position: relative;
    width: 250px;
    background: #9e9b9b;
    height: 10px;
    margin-top: -16px;
    margin-bottom: 24px ;
    margin-left: 68px;
    display: block;
    overflow: hidden;

}

.skills .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #76bbcc;
}

.skills p{
    position: relative;
    top: 250px;
}