body{
    background-color: rgb(177, 189, 194);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vh;
    display: grid;
}

.todillo{
    margin: 50px;
    width: 100%;
    min-height: 1500px;
    width: 1000px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
}       

.arriba{
    position: relative;
    top: -630px;
    width: 1000px;
    height: 270px;
    display: flex;
    background-color: rgb(118, 187, 204);
}

.fotoperfil{
    display: flex;
    align-items: flex-start;
    margin: 27px;
    height: 220px;
    width: 220px;
    border: 16px;
    border-radius: 50%;
}

.arriba h1{
    display: flex;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 260px;
    top: 24px;
    font-size: 38px;
    font-family: monospace;
    font-weight: bold;
}

.arriba h3{
    display: flex;
    color: white;
    position: absolute;
    left: 260px;
    top: 145px;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
}
